<p style="font-family: Arial, Helvetica, sans-serif">Dear <%= name %></p>

<p style="font-family: Arial, Helvetica, sans-serif">
  Thanks for signing up. We're very excited to have you onboard
</p>

<p>Here are your account details</p>

<ul style="font-family: Arial, Helvetica, sans-serif; font-size: 16px">
  <li>Email: <%= email %></li>
  <li>Login URL: <%= loginUrl %></li>
</ul>

Thanks! NestJS Blog Support
