<p>Dear <%= name %></p>

<p>Thanks for signing up. We're very excited to have you onboard</p>

<p>Here are your account details</p>

<ul>
  <li>Email: <%= email %></li>
  <li>Login URL: <%= loginUrl %></li>
</ul>

Thanks! NestJS Blog Support
